#page1 {
   max-width: 50vw;
   margin-top: 15vh;
   margin-left: 15vw;
}


h1 {
   font-weight: 400;
   font-size: 30px;
   margin: 50px 0;
}

a {
   color: #065588;
   display: block;
   margin-top: 55px;
   text-decoration: none;
   font-size: 22px;
}
a:visited {
   color: #065588;
}
a:hover {
   text-decoration: underline;
}

@media screen and (max-width: 700px) {
   #page1 {
      max-width: 70vw;
   }
}